streamlit
yfinance
pandas
numpy
scipy
plotly
matplotlib
apikey
langchain
langchain_community
openai
OpenAI
python-dotenv

import torch
import torch.nn as nn
import torch.optim as optim
import numpy as np
from scipy.special import gamma
import math
import matplotlib.pyplot as plt
# %config InlineBackend.figure_formats='svg'
import plotly.io as pio
# Set the default renderer to display plots in your browser
pio.renderers.default = 'browser'
import plotly.graph_objects as go
import torch.distributions as distributions
from matplotlib import cm # For colormaps
